body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('C:/Users/HP/Downloads/WhatsApp Image 2024-08-29 at 01.09.10_08a74499.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.banner {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px; /* تحريك الشريط للأسفل */
}

.banner .menu-item {
    flex: 1;
}

.banner .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 24px; /* تكبير النص في الشريط */
    font-weight: bold;
    line-height: 1.2;
}

.main-text {
    text-align: center;
    margin-bottom: 50px;
}

.main-text h1 {
    font-size: 80px; /* تكبير النص */
    font-style: italic; /* جعل النص مائل */
    margin: 0;
    font-weight: bold; /* جعل النص أعرض */
    color:black
}

.main-text p {
    font-size: 28px; /* تكبير حجم الخط للكومنت */
    font-style: italic; /* جعل النص مائل */
    font-weight: bold; /* جعل النص أعرض */
    margin-top: 20px;
    color:black
}

.contact {
    padding: 20px;
}

.contact p {
    margin: 0;
    font-size: 18px;
}

.social-icons img {
    width: 30px; /* حجم الأيقونات */
    height: 30px;
    margin-right: 10px;
    vertical-align: middle; /* محاذاة الأيقونات بشكل أفضل مع النص */
}
